{% extends 'mobile/index.html' %}

{% block welcome_message %}

{% endblock %}

{% block body_block %}
 
    <div class="container" style="height: auto;">   
        <div class="row">   
            <div class="col"><h2>Add Product</h2></div>
            <div class="col-md-6">
                <form  class="bg-secondary text-white p-4" action="" method="post" enctype="multipart/form-data" class="border border-dark p-3" style="solid">
                    {% csrf_token %}
                   {{form.as_p}}
                   <button class="btn btn-primary" type="submit" >Submit</button>
                 </div>
                 <div class="col"></div>
                   
                </form>
            </div>
        </div>
{% endblock %} 





