{% extends 'mobile/index.html' %}

{% block welcome_message %}
<h5>Product Detail</h5>
{% endblock %}

{% block body_block %}
<div class="d-flex justify-content-center mt-4">
<div class="card" style="width: 18rem;">
    <img src="{{ mobile.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Latest Collection</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: ₹{{ mobile.price }}</li>
      <li class="list-group-item">Brand: {{ mobile.brand }}</li>
      <li class="list-group-item">Description: {{ mobile.specs }}</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'mobileapp:list' %}" class="card-link">Back to List</a>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>
</div>
  {% endblock %}



   