<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <link rel="icon" href="{% static 'img/fav.png' %}" >
        <!-- Favicon-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
       
        <script src="https://kit.fontawesome.com/cf946ba165.js" crossorigin="anonymous"></script>

        

    </head>
    
    {% comment %} <body class="d-flex flex-column min-vh-100"> {% endcomment %}
      <div style="background-color:#CECECE; min-height: 100vh; padding-top: 20px;">
        <div class="d-flex" id="wrapper" >
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper" >
                <div class="sidebar-heading border-bottom bg-dark text-white ">Mobile Products</div>
                <div class="list-group list-group-flush">

                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'mobileapp:home' %}">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'mobileapp:viewcart' %}">
                      My Cart <i class="fa-solid fa-cart-shopping ms-2"></i>
                    </a>
                    
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'mobileapp:create'%}">Add Product</a>
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'mobileapp:list' %}">List Product</a>
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'customerapp:register'%}">Register User</a>
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'customerapp:userlist' %}">List User</a>
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{% url 'mobileapp:order_status' %}">Status</a>
                </div>
            </div>
            <!-- Page content wrapper-->
           <div id="page-content-wrapper" >
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">                    
                       
                    <div class="container"> 
                        <button class="btn btn-light" id="sidebarToggle">☰</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class=""><a class="nav-link" style="color:white;" href="{% url 'mobileapp:home' %}">Home</a></li>
                                <li class="">
                                <a class="nav-link" style="color:white;"  href="{% url 'customerapp:userlogin' %}" > Logout</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'customerapp:userlogin' %}">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
               
                
                {% block welcome_message %}
                <div style="display: flex; justify-content: space-between;">
                    <span style="color:#060270;"><strong>Mobile Products</strong></span>
                    <span style="color:#060270;"><strong>Welcome {{ request.user }}</strong></span>
                  </div>
                  
              {% endblock %}
                 
                <!-- Page content-->
                <div class="container-fluid">
                  {% block body_block %}
                  <div class="container mt-4">
                    <div class="row justify-content-center">
                      {% for mobile in mob %}
                        <div class="col-md-4 d-flex justify-content-center mb-4">
                          <div class="card" style="width: 14rem;">
                           
                            <img src="{{ mobile.image.url }}" class="card-img-top"  alt="{{ mobile.brand }}"  style="height: 180px; object-fit: cover;">

                            <div class="card-body">
                              <h5 class="card-title">{{ mobile.mobile_name }}</h5>
                              
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Price: ₹{{ mobile.price }}</li>
                              <li class="list-group-item">Brand: {{ mobile.brand }}</li>
                              <li class="list-group-item">Description: {{ mobile.specs }}</li>
                             
                            </ul>
                            <div class="card-body">
                              <a href="{% url 'mobileapp:detail' mobile.id %}" class="btn btn-sm btn-secondary">View Details</a>
                              <a href="{% url 'mobileapp:addcart' mobile.id %}" class="btn btn-sm btn-secondary">Add to Cart</a>
                            </div>
                          </div>
                        </div>
                      {% empty %}
                        <p>No mobiles available.</p>
                      {% endfor %}
                    </div>
                  </div>
                  {% endblock %}
                </div>
            </div>
        </div>
      </div>
        
         
<footer class="bg-secondary text-white text-center py-1" style="position: fixed; height:50px;  bottom: 0; width: 100%; z-index: 1030;">
  <div class="container-fluid">
    <small>&copy; {{ now|date:"Y" }} Mobile Products. All rights reserved.</small><br>
    <small>Designed with ❤️ using Bootstrap</small>
  </div>
</footer>
  
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static "js/scripts.js" %}">
          

        </script>
        <!-- Footer -->
    </body>
</html>





















































