 {% extends 'mobile/index.html' %}

 {% block welcome_message %}
 
 {% endblock %}
 
 {% block body_block %}
 <div class="container" style="height: auto;">
     <div class="row">
         <div class="col"><h1>Register User</h1></div>
         <div class="col-md-6"> 
             <form class="bg-secondary text-white p-4" action="" method="POST" enctype="multipart/form-data" class="border border-dark p-4" >
                 {% csrf_token %}
                 {{ form.as_p }}
                 <input type="submit" value="Register" class="btn btn-primary mt-2">
             </form>
        </div>
         <div class="col"></div>
     </div>
 </div>
 {% endblock %}
 