 {% extends 'mobile/index.html' %}

 {% block welcome_message %}
 
 {% endblock %}
 
 {% block body_block %}

 <div class="container" style="height: auto;">
    {% if messages %}
  <div id="msg-container">
    {% for message in messages %}
      <div class="alert" 
      style="background-color:rgb(218, 88, 88); color: white; text-align: center">
       <!-- Close Button -->
          <span onclick="this.parentElement.style.display='none';" 
                style="position: absolute; top: 5px; right: 10px; color: white; font-weight: bold; cursor: pointer;">
            &times;
          </span>
        {{ message }}
      </div>
    {% endfor %}{% endif %}
  </div>



<script>
  setTimeout(function() {
    const msgBox = document.getElementById("msg-container");
    if (msgBox) {
      msgBox.style.display = "none";
    }
  }, 15000);
</script>

     <div class="row">
         <div class="col"><h1>Register User</h1></div>
         <div class="col-md-6"> 
             <form class="bg-secondary text-white p-4" action="" method="POST" enctype="multipart/form-data" class="border border-dark p-4" >
                 {% csrf_token %}
                 {{ form.as_p }}
                 <input type="submit" value="Register" class="btn btn-primary mt-2">
             </form>
        </div>
         <div class="col"></div>
     </div>
 </div>
 {% endblock %}
 