{% extends 'mobile/index.html' %}

{% block welcome_message %}

{% endblock %}

{% block body_block %}
<!-- Your body content goes here -->
    <div class="row">
        <div class="col-4"><h1 style="color:#060270">User List</h1></div>
        <div class="col-4"></div>
        <div class="col-4">
        <a href="{% url 'customerapp:register' %}"
          class="btn btn-primary"
          style="margin-top: 10px"
          >Add User</a>
      </div>
    </div>
    
    {% if messages %} {% for message in messages %}
    <div
      class="alert"
      style="background-color: #7dda58; color: white; text-align: center">
      {{ message }}
    </div>
    {%endfor%} {%endif%}
    <style>
      .custom-border {
        border: 1px solid black;
      }
    </style>
    <table class="table">
    {% comment %} <table class="table custom-border"> {% endcomment %}
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Username</th>

        <th>Actions</th>
      </tr>
      {% for user_obj in userlst %}
      <tr class="h-20">
        <td>{{user_obj.first_name}}</td>
        <td>{{user_obj.last_name}}</td>
        <td>{{user_obj.email}}</td>
        <td>{{user_obj.username}}</td>

        <td>
          <a
            href="{% url 'customerapp:edituser' user_obj.id %}"
            class="btn btn-success"
            >Edit</a
          >
            <a href="{% url 'customerapp:deluser' user_obj.id %}" 
            class="btn btn-danger" 
            onclick="return confirm('Are you sure you want to delete this item?')">
            Delete
            </a>
          <a
            href="{% url 'customerapp:userdetl' user_obj.id %}"
            class="btn btn-warning"
            >View</a
          >
        </td>
      </tr>

      {%endfor%}
    </table>
    {% endblock %}
 
