<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ mobile.mobile_name }} - Details</title>
</head>
<body>
    <h1>{{ mobile.mobile_name }}</h1>
    <p><strong>Price:</strong> ${{ mobile.price }}</p>
    <p><strong>Brand:</strong> {{ mobile.brand }}</p>
    <p><strong>Description:</strong> {{ mobile.specs }}</p>
    <p><strong>Image:</strong> <img src="{{ mobile.image.url }}" alt="img" style="height:50px;"></p>
    <p><strong>Created Date:</strong>{{mobile.date}}<br><br>
    <a href="{% url 'list' %}">Back to List</a>
</body>
</html>